{
  "name": "Your Organization Name",
  "year": "2025",
  "url": "https://your-organization.net",
  "og": {
    "title": "Your Organization Title",
    "description": "Your organization's brief description.",
    "image": "https://your-organization.net/default-og-image.png",
    "url": "https://your-organization.net/"
  },
  "social": {
    "me": {
      "portfolio": {
        "url": "https://your-portfolio.dev"
      }
    },
    "discord": {
      "kishax": {
        "url": "https://discord.gg/your-discord-invite"
      }
    },
    "github": {
      "kishax": {
        "url": "https://github.com/your-github-org/your-repo"
      }
    }
  },
  "server": {
    "port": {
      "dev": "3001",
      "prod": "3000"
    },
    "root": {
      "dev": "/",
      "prod": "/app"
    },
    "logo": {
      "url": "https://your-organization.net/default-logo.png"
    },
    "modules": {
      "jwt": {
        "secret": "YOUR_JSON_WEBTOKEN_SECRET"
      },
      "mysql": {
        "host": "localhost",
        "user": "db_user",
        "password": "db_password",
        "database": "db_name"
      },
      "passport": {
        "x": {
          "key": "YOUR_X_CONSUMER_KEY",
          "secret": "YOUR_X_CONSUMER_SECRET"
        },
        "google": {
          "key": "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com",
          "secret": "YOUR_GOOGLE_CLIENT_SECRET"
        },
        "discord": {
          "key": "YOUR_DISCORD_CLIENT_ID",
          "secret": "YOUR_DISCORD_CLIENT_SECRET"
        }
      },
      "express_session": {
        "secret": "YOUR_EXPRESS_SESSION_SECRET"
      },
      "nodemailer": {
        "host": "smtp.example.com",
        "port": 587,
        "user": "your_email@example.com",
        "password": "your_email_password"
      }
    }
  },
  "client": {
    "icon": {
      "random": {
        "enable": false
      },
      "path": "/public/images/icon/default/sample.png"
    }
  }
}
